
/* * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
} */
:root {
    --cor-cinza:#E4E4F2;
    --cor-azulescuro:#414059;
    --gap:30px;
}

body {
    font-family: 'nunito', sans-serif;
    color: var(--cor-azulescuro);
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Lato', sans-serif;
}

h1 {
    text-transform: uppercase;
}
.bg{
    background-image: url('../img/background-primay.svg');
    background-size: cover;
    background-position: center center;
    color:var(--cor-cinza);
}
.content{
    max-width: 1200px;
    margin: 0 auto;
    padding:-var(--gap);
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--cor-azulescuro);
    background-color: white;
}
.menu ul {
    list-style: none;
    display: flex;
}
.menu h1 {
    font-size: 20px;
}
.menu ul li a {
    display: block;
    padding: 10px;
}
a {
    text-decoration: none;
}
.cinza{
    max-width: 1200pix;
    margin: 0 auto;
    padding: var(--gap);
    color: var(--cor-cinza);
}
.grid1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
    max-width: 100%;
    height: auto;
}
.h1-intro {
    font-size: 48px;
}
.intro-img img{
    max-width: 100%;
    height: auto;
}
html{
    scroll-behavior: smooth;
}
.grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    max-width: 100%;
    height: auto;
}
.table{
    width: 100%;
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid gray;
    text-align: left;
    padding: 5px;
}
table th {
    background-color: grey;
}
.container{
    padding: 3% 4%; 
    text-align: center;
}
.copyright{
    color: rgba(255, 255, 255, 0.7);
}